<!DOCTYPE html>
<html>
<head>
<title>Smart Product Finder</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="box">
<h1>🛒 Smart Product Finder</h1>

<form method="POST">
<input type="text" name="product" placeholder="Enter product name..." required>
<button type="submit">Search</button>
</form>

{% if data %}
<table>
<tr>
<th>Title</th>
<th>Price</th>
<th>Rating</th>
</tr>

{% for item in data %}
<tr>
<td>{{ item.title }}</td>
<td>₹{{ item.price }}</td>
<td>{{ item.rating }}</td>
</tr>
{% endfor %}
</table>

<a href="/download">
<button class="download">Download Excel</button>
</a>
{% endif %}

</div>

</body>
</html>